.header {
  position: sticky;
  z-index: 30;
  top: 0;
}
.nav {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #3f9fbd;
}
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  color: inherit;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 20px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #3f9fbd;
}

.nav__menu-list div::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.nav__menu-list div:hover::after {
  width: 100%;
}

.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
  color: white;
  border-color: #5d758d;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    justify-content: center;
    padding: 0px;
  }
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
